@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  background-color: #ffcfb3;
  background-image: url('./assets/dots.svg');
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 95% 90%;
  /* background-blend-mode: hard-light; */
  padding: 0 150px;
  padding-top: 32px;

  height: 100vh;

  color: #333;
  letter-spacing: 0.2px;
  font-size: 18px;
  position: relative;
}
