.formContainer {
  width: 500px;
  margin: 0 auto;
  border-radius: 30px;
  padding: 52px 42px;
  padding-bottom: 28px;

  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

h2 {
  text-align: center;
  margin-bottom: 35px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 70px;
}

.input {
  font-size: 19px;
  border: none;
  padding: 16px 24px;
  border-radius: 15px;
  border: none;
  opacity: 0.7;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
  outline: 2px solid #00f26100;
}

.input:focus {
  border: none;
  outline: 2px solid #ec6ead;
  opacity: 1;
}

.input::placeholder {
  /* color: #00f260; */
  opacity: 0.8;
}

.form button {
  padding: 0;
  align-self: center;
  cursor: pointer;
  background-color: transparent;
  font-size: 72px;
  color: #ec6ead;
  border: none;
}
